/* for some reason imports aren't working.... */
@import "globals.css";



.toolbar-newitem {
    position: absolute;
    line-height: var(--button-size);
    opacity:0.4;
}


.toolbar-newitem ul {
    list-style: none;
    padding: 0;
    float:right;
    margin: 0 0 0 60px;
}

.toolbar-newitem ul li {
    margin:0;
    padding: 0;
    width:var(--button-size);
    overflow:hidden;
    float:left;
}

.toolbar-newitem ul li button {
    border-radius: 2px;
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    padding:0;
    margin:0;
    height:var(--button-size);
    min-width:var(--button-size);
    color: var(--darkgrey);
    border: none;
    transition: 0.3s;
}

.toolbar-newitem ul li:hover button, .toolbar-newitem ul li.selected button {
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    transition: 0.3s;
}

.toolbar-newitem ul li button img {
    width:20px;
    height:20px;
}
