/*placeholder toolbar styling*/
.toolbar {
    position: fixed;
    margin-top: 10px;
    padding-left: 15px;
    background-color: #fff;
    top: 60px
}

.toolbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.toolbar ul li {
    float: left;
    margin-left: 5px;
    padding: 0;
}

.toolbar ul li button {
    border-radius: 2px;
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 15px;
    min-width: 36px;
    text-transform: uppercase;
    padding: 7px 10px 7px 10px;
    color: #fff;
    background-color: var(--midgrey);
    border: 1px solid var(--darkgrey);
}

.toolbar ul li button:hover, .toolbar ul li button.selected {
    background-color: var(--lightgrey);
    border: 1px solid var(--midgrey);
    color: var(--darkgrey);
}
