/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --darkgrey: #242628;
    --midgrey: #7d878a;
    --lightgrey: #e2edf2;
    --blue: #5ba4e5;
    --red: #e25440;
    --orange: #f2a925;
    --green: #9fbb58;
    /* Style values */
    --border-radius: 4px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.editor-holder {
    height: 100%;
}

.ghost-editor {
    height: 100%;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.__mobiledoc-editor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    outline: none;
    padding: 51px 20px 36px 20px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.5rem;
    resize: none;
}

.__mobiledoc-editor p {
    margin: 0;
    padding: 0;
}

.ghost-editor .surface {
    max-width: 800px;
}

.__mobiledoc-tooltip {
    position: absolute;
    padding: 33px;
    background-color: #5ba4e5;
    color: #fff;
}

p, h2, h3, ul, ol {
    border: 0;
    transition: border-width 0.1s ease-in-out;
}

.dropper-bottom {
    border-bottom: 66px solid #5ba4e5;
}

.dropper-top {
    border-top: 66px solid #5ba4e5;
}

.dropper-left {
    border-left: 66px solid #5ba4e5;
}

.dropper-right {
    border-right: 66px solid #5ba4e5;
}

.__mobiledoc-card {
    border: 1px solid;
    min-height: 100px;
}

.__mobiledoc-card .card-handle {
    position: absolute;
    margin-top: -40px;
    height: 40px;
    padding: 0 10px 0 10px;
    text-align: right;
    overflow: hidden;
    display: block;

}

.card-handle {
    height:40px;
    margin-bottom:-30px;
    margin-left:-50px;
}


.card-handle button {
    margin-top: 1px;
    color: #718087;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    overflow:hidden;
    line-height:30px;
    text-align: center;
    font-size:2em;
    border: 1px solid;
    font-size: 20px;

}

.card-handle button:hover {
    background-color: #718087;
    color: #fff;
}

.card-handle button.confirm {
    animation-duration: 1s;
    animation-name: rotate;
    background-color: red;
    color: #e9e8dd;
}

.card-handle button.move {
    background-image: url('http://localhost:4200/assets/move.png');
    background-color: #9fbb58;
    margin-left: -10px;
    margin-right: 20px;

    cursor: -webkit-grab;
    cursor: -moz-grab;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: #fff;
        color: #718087;
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(360deg);
        background-color: red;
        color: #e9e8dd;
    }
}

textarea.ed_code {
    width:100%;
    height:100%;
    border:none;
}

