/* for some reason imports aren't working.... */
@import "globals.css";


:root {
    /* Colours */
    --darkgrey: #242628;
    --midgrey: #7d878a;
    --lightgrey: #e2edf2;
    --blue: #5ba4e5;
    --red: #e25440;
    --orange: #f2a925;
    --green: #9fbb58;
    /* Style values */
    --border-radius: 4px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;

    --button-size: 32px;
}



.toolbar {
    position: absolute;
    margin: 0;
    background-color: #fff;
    border:1px var(--lightgrey) solid;
    transition: margin-left 0.1s;
}


.gh-normal:hover {
    margin-left:-160px;/*calc(0 - (var(--button-size)*3))*/;
    transition: margin-left 0.1s;
}

.gh-selection:hover {
    margin-left:-64px;/*calc(0 - (var(--button-size)*2))*/;
    transition: margin-left 0.1s;
}

.gh-newline:hover {

}

.toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toolbar ul li {
    float: left;
    margin:0;
    padding: 0;
    width:0;
    opacity:0;
    overflow:hidden;
    transition: width 0.1s;
}

.toolbar:hover ul li {
    display:block;
    width:var(--button-size);
    opacity:0.3;
    animation-delay: 2s;
    transition: width 0.1s;
}

.toolbar ul li.selected, .toolbar ul li.primary {
    display:block;
    opacity:1;
    width:var(--button-size);
}


.toolbar ul li button {
    border-radius: 2px;
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    padding:0;
    margin:0;
    height:var(--button-size);
    min-width:var(--button-size);
    color: var(--darkgrey);
    background-color: #fff;
    border: none;
    transition: 0.3s;
}

.toolbar ul li.primary button {
    opacity:1;
}

.toolbar ul li:hover {
    opacity:1;
}

.toolbar ul li:hover button, .toolbar ul li.selected button {
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    transition: 0.3s;
}

.toolbar ul li button img {
    width:20px;
    height:20px;
}


/* tick */

.toolbar.gh-selection:before {
    content: "";
    border-bottom: 10px solid black;
    border-bottom-color: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50px;
    left: calc(50% - 10px);
    top:-10px;
    position:absolute;

}

.toolbar.gh-newline:before {
    content: "";
    border-right: 10px solid black;
    border-right-color: inherit;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 10px;
    top: calc(50% - 10px);
    left:-10px;
    position:absolute;

}
