/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --darkgrey: #343f44;
    --midgrey: #738a94;
    --lightgrey: #e5eff5;
    --blue: #3eb0ef;
    --red: #f05230;
    --orange: #fecd35;
    --green: #a4d037;
    /* Style values */
    --border-radius: 4px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
