.slash-menu {
    border:1px solid var(--bordergrey);
    position:absolute;
    background-color: var(--uigrey);
    min-width:300px;
    display:none;
}

.slash-menu ul {
    margin:0;
    padding:0;
    list-style: none;
}
.slash-menu ul li button {
    line-height: 30px;
    padding:5px;
    width:100%;
    text-align: left;
}


.slash-menu ul li button:hover, .slash-menu ul li button.selected {
    background-color: var(--uihover);

}
