<div class="gh-toolbar">
    <div class="gh-toolbar-btn gh-toolbar-btn-bold" title="Bold">B</div>
    <div class="gh-toolbar-btn gh-toolbar-btn-italic" title="Italic">i</div>
    <div class="gh-toolbar-btn gh-toolbar-btn-strike" title="Strike">S</div>
    <div class="gh-toolbar-btn gh-toolbar-btn-link" title="Link">L</div>
    <div class="gh-toolbar-divider" role="presentation"></div>
    <div class="gh-toolbar-btn gh-toolbar-btn-h1" title="Large heading">H1</div>
    <div class="gh-toolbar-btn gh-toolbar-btn-h2" title="Small heading">H2</div>
    <div class="gh-toolbar-btn gh-toolbar-btn-quote" title="Quote">&ldquo;</div>
</div>

{{!-- Proper template

TODO: Below template should generate the above output

{{#if isLink}}
    {{input keyDown=(action "linkKeyDown") keyPress=(action "linkKeyPress") autofocus=true placeholder="Enter a link"}}
{{else}}
<ul>
    {{#each toolbar as |tool|}}
        {{ghost-toolbar-button tool=tool editor=editor iconURL=iconURL assetPath=assetPath}}
    {{/each}}
</ul>
{{/if}}
--}}
